[core]
	excludesfile = /Users/simon/.gitignore
[user]
	email = simon.taranto@gmail.com
	name = Simon Taranto
[alias]
	co = checkout
	st = status
	ca = commit --amend
[push]
	default = simple
[credential]
	helper = osxkeychain
[commit]
    template = ~/.gitmessage
[http]
	postBuffer = 524288000
